body{
  background-color: whitesmoke;
}
.carousel-item img {
    height: 40vh;
    object-fit: cover;
}
.bemutatkozo_szoveg p  {
    text-align: center;
}
.footer {
  position: fixed;        /* FIX az oldal alján */
  bottom: 0;              /* legalul */
  left: 50%;              /* vízszintes közép */
  transform: translateX(-50%);
  width: 100%;            
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
  z-index: 1000;
}
.footer-adatok p {
    display: inline;
}
.navbar-brand img {
    width: 100px;
    display: flex;
    align-items: flex-end;

}
.profil{
  width: 10px;
  height: 10px;
}

.bemutatkozo_kep {
  float: left;
  width: 300px;
  height: 418.64;
  margin-left: 5%;
  margin-right: 20px;
  border-radius: 40px;
  border: 2px black solid;
}
.bemutatkozo_kep2 {
  float: left;
  width: 300px;
  margin-left: 5%;
  margin-right: 20px;
  border-radius: 40px;
  border: 2px black solid;
}
.parent {
display: grid;
grid-template-columns: 1fr 1.4fr 1fr;
grid-template-rows: 0.2fr 0.5fr 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 4 / 2; }
.div2 { grid-area: 1 / 3 / 4 / 4; }
.div3 { grid-area: 2 / 2 / 3 / 3; 
        align-items: center;
        text-align: center;    
}
.szolgaltatasok {
  max-width: 800px;
  margin: 60px auto;
  text-align: center;
  line-height: 1.7;
}

.focim {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px; /* hely a főcím alatt */
}

.szolgaltatasok h3 {
  margin-top: 30px;
}

        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: rgba(164, 164, 164, 0.149);
            color: rgb(0, 0, 0);
            /* border-bottom: 2px solid black; */
            /* margin-bottom: 3%; */
        }
        .nav_links {
            list-style: none;
            display: flex;
            gap: 20px;
            color: rgb(0, 0, 0);
            margin: 0 auto;
        }
        .nav_links li a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-size: 18px;
        }

        .menu-toggle{
            display: none;
            cursor: pointer;
        }
        .menu-toggle .bar {
            width: 30px;
            height: 4px;
            background-color: rgb(0, 0, 0);
            margin: 4px 0;
            border-radius: 2px;
        }
        @media screen and (max-width: 480px) {
            .menu-toggle{
                display: block;
            }
            .nav_links{
                display: none;
                flex-direction: column;
               /*   position: absolute;
                left: 0px;
                top: 50px; 
                background-color: grey; */
                
            }
            .nav_links li {
                text-align: center;
            }
            .nav_links.show {
                display: flex;
            }
        }
        .menu-bezar svg {
            width: 35px;
            height: 35px;
        }

        .menu-bezar {
            display: none;
        }
        .menu-toggle.hide {
            display: none;
        }

        .menu-bezar.show {
            display: block;
        }

@media screen and (max-width: 767px) {
  .col-md-4:first-child,
  .col-md-4:last-child {
      display: none;
  }
  .col-md-4:nth-child(2) {
      text-align: center; /* vízszintesen középre */
      margin: 0 auto;     /* középre tolás, ha kell */
  }

}
@media screen and (max-width: 767px) {
  .footer {
    display: none;
  }
}


@media screen and (max-width: 900px) {
  .div2 {
    display: none; 
  }
  .div3 {
    text-align: center; 
    margin: 0 auto;
  }
  .parent {
    grid-template-columns: 1fr 2fr; /* marad bal kép + szöveg, szöveg kitölti a jobb helyet */
  }
}

@media screen and (max-width: 511px) {
  .div1 {
    display: none; 
  }
  .parent {
    grid-template-columns: 3fr; /* marad bal kép + szöveg, szöveg kitölti a jobb helyet */
  }
}
    
