body {
    background-color: bisque;
}
header {
    background-color: red;
}
button {
    border-radius: 10px;
    background-color: rgba(255, 228, 196, 0.291);
    border: 5px black;
    font-size: x-large;
}
#elsohatter {
    background-color: bisque;
    border-radius: 5px;
    
}
.container {
    background-color: grey;
    display: grid;
    grid-template-areas: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    justify-content: space-evenly;
}
.container div {
    background-color: blue;
    text-align: center;
    margin: 10%;
    padding: 20%;
}
p {
    text-align: center;
}