.carousel-item img {
    height: 40vh;
    object-fit: cover;
}
.bemutatkozo_szoveg p  {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.footer-adatok p {
    display: inline;
}
.navbar-brand img {
    width: 100px;
    display: flex;
    align-items: flex-end;

}

 